$yellow = #fecc09;
$black = #000;
$white = #fff;
$dark = #a09f9a;
$placeholder = #737373;
$megaMenuCopy = #707070;
$megaMenuActiveBg = #ffe580;
$placeholder = #737373;
$black_gray = #373737;

$smoke = #757474;
$off_black = #1C1C1C;
$off_white = #FEFDF6;
$paypal = #d3e7ff;
$pay = #11559D;
$pal = #2997D8;