CgGothicNo2Medium()
    font-family 'CgGothicNo2Medium',"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight normal

CgGothicNo3Medium()
    font-family "CgGothicNo3Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight normal

MetroLite-LT-Two-Regular()
    font-family "MetroLite LT Two Regular","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight 300

MetroLite-LT-Two-Medium()
    font-family "MetroLite LT Two Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight 500

MetroLite-LT-Two-Black()
    font-family "MetroLite LT Two Black","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight 900

Sentinel-SSm-Light()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Light', 'Sentinel SSm Light'
    font-weight 300
    font-style normal

Sentinel-SSm-Light-Italic()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Light-Italic', 'Sentinel SSm Light Italic'
    font-weight 300
    font-style italic

Sentinel-SSm-Book()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Book', 'Sentinel SSm Book'
    font-weight 400
    font-style normal

Sentinel-SSm-Book-Italic()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Book-Italic', 'Sentinel SSm Book Italic'
    font-weight 400
    font-style italic

Sentinel-SSm-Medium()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Medium', 'Sentinel SSm Medium'
    font-weight 500
    font-style normal

Sentinel-SSm-Medium-Italic()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Medium-Italic', 'Sentinel SSm Medium Italic'
    font-weight 500
    font-style italic

Sentinel-SSm-Semibold()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Semibold', 'Sentinel SSm Semibold'
    font-weight 600
    font-style normal

Sentinel-SSm-Semibold-Italic()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Semibold-Italic', 'Sentinel SSm Semibold Italic'
    font-weight 600
    font-style italic

Sentinel-SSm-Bold()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Bold', 'Sentinel SSm Bold'
    font-weight 700
    font-style normal

Sentinel-SSm-Bold-Italic()
    font-family 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel-SSm-Bold-Italic', 'Sentinel SSm Bold Italic'
    font-weight 700
    font-style italic

Sentinel-Light()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Light', 'Sentinel Light'
    font-weight 300
    font-style normal

Sentinel-Light-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Light-Italic', 'Sentinel Light Italic'
    font-weight 300
    font-style italic

Sentinel-Book()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Book', 'Sentinel Book'
    font-weight 400
    font-style normal

Sentinel-Book-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Book-Italic', 'Sentinel Book Italic'
    font-weight 400
    font-style italic

Sentinel-Medium()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Medium', 'Sentinel Medium'
    font-weight 500
    font-style normal

Sentinel-Medium-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Medium-Italic', 'Sentinel Medium Italic'
    font-weight 500
    font-style italic

Sentinel-Semibold()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Semibold', 'Sentinel Semibold'
    font-weight 600
    font-style normal

Sentinel-Semibold-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Semibold-Italic', 'Sentinel Semibold Italic'
    font-weight 600
    font-style italic

Sentinel-Bold()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Bold', 'Sentinel Bold'
    font-weight 700
    font-style normal

Sentinel-Bold-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Bold-Italic', 'Sentinel Bold Italic'
    font-weight 700
    font-style italic

Sentinel-Light()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Light', 'Sentinel Light'
    font-weight 300
    font-style normal

Sentinel-Light-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Light-Italic', 'Sentinel Light Italic'
    font-weight 300
    font-style italic

Sentinel-Book()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Book', 'Sentinel Book'
    font-weight 400
    font-style normal

Sentinel-Book-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Book-Italic', 'Sentinel Book Italic'
    font-weight 400
    font-style italic

Sentinel-Medium()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Medium', 'Sentinel Medium'
    font-weight 500
    font-style normal

Sentinel-Medium-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Medium-Italic', 'Sentinel Medium Italic'
    font-weight 500
    font-style italic

Sentinel-Semibold()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Semibold', 'Sentinel Semibold'
    font-weight 600
    font-style normal

Sentinel-Semibold-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Semibold-Italic', 'Sentinel Semibold Italic'
    font-weight 600
    font-style italic

Sentinel-Bold()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Bold', 'Sentinel Bold'
    font-weight 700
    font-style normal

Sentinel-Bold-Italic()
    font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Bold-Italic', 'Sentinel Bold Italic'
    font-weight 700
    font-style italic

Helvetica()
    font-family "HelveticaNeue-Regular", "Helvetica Neue Regular", Helvetica, Arial, sans-serif;
    font-weight 400

HelveticaItalic()
    font-family "HelveticaNeue-Italic", "Helvetica Neue Italic", Helvetica, Arial, sans-serif;
    font-weight 400
    font-style italic

HelveticaThin()
    font-family "HelveticaNeue-Thin", "Helvetica Neue Thin", Helvetica, Arial, sans-serif;
    font-weight 200

HelveticaThinItalic()
    font-family "HelveticaNeue-ThinItalic", "Helvetica Neue Thin Italic", Helvetica, Arial, sans-serif;
    font-weight 200
    font-style italic

HelveticaLight()
    font-family "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-weight 300

HelveticaUltraLight()
    font-family "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", Helvetica, Arial, sans-serif;
    font-weight 100

HelveticaUltraLightItalic()
    font-family "HelveticaNeue-UltraLightItalic", "Helvetica Neue UltraLight Italic", Helvetica, Arial, sans-serif;
    font-weight 100
    font-style italic

HelveticaMedium()
    font-family  "HelveticaNeue-Medium", "Helvetica Neue Medium", Helvetica, Arial, sans-serif;
    font-weight 500

HelveticaMediumItalic()
    font-family "HelveticaNeue-MediumItalic", "Helvetica Neue Medium Italic", Helvetica, Arial, sans-serif;
    font-weight 500
    font-style italic

HelveticaBold()
    font-family  "HelveticaNeue-Bold", "Helvetica Neue Bold", Helvetica, Arial, sans-serif;
    font-weight 700

HelveticaBoldItalic()
    font-family "HelveticaNeue-BoldItalic", "Helvetica Neue BoldItalic", Helvetica, Arial, sans-serif;
    font-weight 700
    font-style italic

HelveticaCondensedBold()
    font-family  "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", Helvetica, Arial, sans-serif;
    font-weight 700

HelveticaCondensedBlack()
    font-family  "HelveticaNeue-CondensedBlack", "Helvetica Neue Condensed Black", Helvetica, Arial, sans-serif;
    font-weight 700

FontAwesome()
    font-family 'FontAwesome'
    font-weight 400

LibelSuit()
    font-family 'Libel Suit'
    font-weight 400