.mission-statement
	padding 6.825em 0 7.388em
	.mission-statement__content
		text-align center
		h2
			Sentinel-SSm-Light()
			font-size 2.25em
			line-height 1.3
			text-align center
			margin 0 auto 33px
		.livestrong-border
			Sentinel-SSm-Book()
			padding 10px 20px
			border-color $smoke
			text-align center
			font-size 1.125em
			margin 0 auto