    <!-- Navigation -->
    <nav id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container wrapper">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LIVE<strong>STRONG</strong></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a class="no-highlight">|</a></li>
                    
                    <li><a href="#">We Can Help</a></li>
                    <li><a href="#">Take Action</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Who We are</a></li>
                    <li><a href="#">Shop</a></li>

                    <li><a class="no-highlight">|</a></li>
                    <li><a class="fa fa-search"></a></li>

                    <li><a href="#">Log In</a></li>
                    <li><a class="highlight" href="#">Donate</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    