<section class="section-3__how-we-help">
    <div class="wrapper">

        
        <div class="challenge">
            <h3><i>
                &ldquo;I was feeling alone with no support. I just wanted to talk with people who<br/>
                know what I was going through and that's why I reach out to LIVE<strong>STRONG</strong>.&rdquo;</i>
            </h3>
            <p> - Anna, Caregiver</p>
        </div> <!-- challenge -->


        <div class="solution">
            <!-- bootstrap carousel -->
            <div id="how-we-help__carousel" class="carousel slide" data-interval="false" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-item__left">
                        <p>1 We prodive free emotional support to caregivers
                           like Anna because cancer doesn't affect just the
                           patient&mdash; it affects family and friends too. We
                           know you have questions and concerns, and
                           we're here to give you answers.
                        </p>
                        <div class="buttton_contain">
                        <a href="#cancer-navigation" class="carousel__button">LIVE<strong>STRONG</strong> Cancer Navigation</i></a>
                        </div>
                    </div>

                    <div class="carousel-item__right">
                        <div class="poster_image" style="background-image: url('/static/design/images/anna-poster.png')"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-item__left">
                        <p>2 We prodive free emotional support to caregivers
                           like Anna because cancer doesn't affect just the
                           patient&mdash; it affects family and friends too. We
                           know you have questions and concerns, and
                           we're here to give you answers.
                        </p>
                        <div class="buttton_contain">
                        <a href="#cancer-navigation" class="carousel__button">LIVE<strong>STRONG</strong> Cancer Navigation</i></a>
                        </div>
                    </div>

                    <div class="carousel-item__right">
                        <div class="poster_image" style="background-image: url('https://placekitten.com/387/239')"></div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="carousel-item__left">
                        <p>3 We prodive free emotional support to caregivers
                           like Anna because cancer doesn't affect just the
                           patient&mdash; it affects family and friends too. We
                           know you have questions and concerns, and
                           we're here to give you answers.
                        </p>
                        <div class="buttton_contain">
                        <a href="#cancer-navigation" class="carousel__button">LIVE<strong>STRONG</strong> Cancer Navigation</i></a>
                        </div>
                    </div>

                    <div class="carousel-item__right">
                        <div class="poster_image" style="background-image: url('http://www.fillmurray.com/387/239')"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-item__left">
                        <p>4 We prodive free emotional support to caregivers
                           like Anna because cancer doesn't affect just the
                           patient&mdash; it affects family and friends too. We
                           know you have questions and concerns, and
                           we're here to give you answers.
                        </p>
                        <div class="buttton_contain">
                        <a href="#cancer-navigation" class="carousel__button">LIVE<strong>STRONG</strong> Cancer Navigation</i></a>
                        </div>
                    </div>

                    <div class="carousel-item__right">
                        <div class="poster_image" style="background-image: url('http://lorempixel.com/387/239/')"></div>
                    </div>
                </div>
            </div> <!-- / carousel inner -->

              <!-- Controls -->
            <a class="left carousel-control" href="#how-we-help__carousel" role="button" data-slide="prev">
                <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#how-we-help__carousel" role="button" data-slide="next">
                <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>

              <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#how-we-help__carousel" data-slide-to="0" class="active"></li>
                <li data-target="#how-we-help__carousel" data-slide-to="1"></li>
                <li data-target="#how-we-help__carousel" data-slide-to="2"></li>
                <li data-target="#how-we-help__carousel" data-slide-to="3"></li>
            </ol>

            </div> <!-- / boostrap carousel -->
        </div> <!-- solution -->

    </div>
</section>