<section class="section-4__out-impact">
    <div class="wrapper">
        <div class="impacts">

            <div id="impact-item-1" class="impact-item">    
                <h1 class="impact-item__left">
                    $23 million
                </h1>

                <div class="impact-item__right">
                    LIVE<strong>STRONG</strong> Fertility provides clients with
                    education on fertility risks and family-building
                    options and has helped them save over
                    $23,000,000 on fertility preservation costs.
                    <div class="impact-item__right-button">
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            <div id="impact-item-2" class="impact-item">
                <h1 class="impact-item__left">
                    100,000+<br/>
                </h1>

                <div class="impact-item__right">
                    LIVE<strong>STRONG</strong> Cancer Navigation has supported
                    over 100,000 people through free programs and
                    services such as emotional counseling, insurance
                    management, clinical trial matching and advice
                    on treatment.
                    <div class="impact-item__right-button">
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            <div id="impact-item-3" class="impact-item">
                <h1 class="impact-item__left">
                    29,000+
                </h1>
                <div class="impact-item__right">
                    LIVE<strong>STRONG</strong> at the YMCA has helped over
                    29,000 cancer survivors regain their strength,
                    energy levels, muscle mass and quality of
                    life through a free or low-cost 12-week
                    exercise program.
                    <div class="impact-item__right-button">
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

        </div> <!-- /.impacts -->
    </div>
</section>