<section class="section-5__get-involved">
    <!-- <div class="background"></div> -->
    <!-- <div class="gradient"></div> -->
    <div class="wrapper">
        <!-- <img src="/static/design/images/section-5.png" /> -->

        <h1>We Can't Do This Without You</h1>

        <div id="impact-item-1" class="impact-item">
            <div class="row">

                <div class="col-md-7 col-lg-7 impact-item__left">
                    
                    <h3 class="impact-item-title">Donate</h3>
                    <p>Your dollars enable use to keep our services free and available to cancer survivors</p>
                    
                    <a href="#donate" class="impact-button donate-button">Donate</a>
                    <a href="#paypal-donate" class="impact-button paypal-button"><img class="paypal-logo" src="{{ url_for('static', filename='design/images/paypal-logo2.png') }}" style="height:24px;width:20px;" /> PayPal</a>
                
                </div>
                <div class="col-md-5 col-lg-5 impact-item__right">
                    <img class="impact-image" src="{{ url_for('static', filename='design/images/get-involved-img1.png') }}" />
                </div>
            </div>
        </div>

        <div id="impact-item-2" class="impact-item">
            <div class="row">

                <div class="col-md-7 col-lg-7 impact-item__left">

                    <h3 class="impact-item-title">Join Team LIVE<strong>STRONG</strong></h3>
                    <p>When you ride, run, or walk with us, you're directly supporting cancer survivors.</p>

                    <div class="impact-item__event-list">
                        <ul>
                            <li class="impact-item__event-list-event">
                                <div class="event-list__event-col"><a href="#event-link-1">RAGBRAI <i class="fa fa-angle-right"></i></a></div> 
                                <div class="event-list__date-col">Jul 19-25</div>
                                <div class="event-list__register-col"><a href="#event3-register">Register</a></div>
                            </li>

                            <li class="impact-item__event-list-event">
                                <div class="event-list__event-col"><a href="#event-link-2">Ride for the Roses <i class="fa fa-angle-right"></i></a></div> 
                                <div class="event-list__date-col">Oct 16</div> 
                                <div class="event-list__register-col"><a href="#event3-register">Register</a></div>
                            </li>

                            <li class="impact-item__event-list-event">
                                <div class="event-list__event-col"><a href="#event-link-3">Austin Challenge 2015 <i class="fa fa-angle-right"></i></a></div> 
                                <div class="event-list__date-col">Oct 18</div> 
                                <div class="event-list__register-col"><a href="#event3-register">Register</a></div> 
                            </li>
                        </ul>
                    </div>

                    <a href="#" class="impact-button">See All Events</a>

                </div>

                <div class="col-md-5 col-lg-5 impact-item__right">
                    <img class="impact-image" src="{{ url_for('static', filename='design/images/get-involved_img2.png') }}" />
                </div>

            </div>
        </div>

        <div id="impact-item-3" class="impact-item">
            <div class="row">

                <div class="col-md-7 col-lg-7 impact-item__left">

                    <h3 class="impact-item-title">Start a Community Fundraiser</h3>
                    <p>Organize your own running events or host a bake sale to fundraise in honor of a loved one.</p>

                    <a href="#" class="impact-button">Start Your Own</a>
                    <a href="#" class="impact-button">Find a Friend</a>

                </div>
                <div class="col-md-5 col-lg-5 impact-item__right">
                    <img class="impact-image" src="{{ url_for('static', filename='design/images/shanteau.jpg') }}" />
                </div>
            </div>
        </div>


    </div>
</section>
