    <!-- Footer -->
    <footer id="new-footer">
        <div class="footer-content">
            <div class="wrapper">
                <div class="footer-content__row_1">
                        <div class="footer-content__subscribe">
                            <div class="col-lg-4">
                            <div class="input-group">
                              <input type="text" class="footer-content__input form-control" placeholder="Sign up for our mailing list">
                              <span class="input-group-btn">
                                <button class="footer-content__button btn btn-default" type="button">Join Us</button>
                              </span>
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                        </div>

                        <ul class="col-lg-4 footer-content__social">
                            <li><a target="_blank" href="https://www.facebook.com/livestrong"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="http://twitter.com/LIVESTRONG"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://instagram.com/livestrongfoundation"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" href="http://www.youtube.com/user/livestrongarmy"><i class="fa fa-youtube"></i></a></li>
                            <li><a target="_blank" href="https://www.pinterest.com/livestrong/"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>

                </div>

                <div class="footer-content__row-2">
                        <div class="col-lg-4 footer-content__press-release">
                            <a href="http://www.livestrong.org/who-we-are/press-contact/press/"><h4>Press Releases</h4></a>
                            <p>President and CEO Chandini Portteus announced today the addition of two seasoned professionals to her leadership team with Donna Palmer joining as Chief Development Officer and Katie Merrell as Vice President of People. Both will report directly to Portteus. Palmer comes to...
                            <br/>
                            <br/>
                            <span><a href="http://www.livestrong.org/who-we-are/press-contact/press/?mid=59746" class="highlighted see-more">See more</a></span></p>
                        </div>
                        <div class="col-lg-3 footer-content__from-the-blog">
                            <a href="http://blog.livestrong.org/"><h4>From the Blog</h4></a>
                            
                            <div id="blog-snip-1" class="footer-content__from-the-blog__post">
                                <a href="http://blog.livestrong.org/2015/07/24/video-your-child-and-the-hpv-vaccine/">
                                <p class="">
                                <img src="http://blog.livestrong.org/wp-content/uploads/2015/07/Capture-208x145.jpg" style="width: 56px; height: 40px;"/>
                                Video: Your Child and the HPV Vaccine<br/><span class="date-text">
                                            July 24, 2015</span></p>
                                </a>
                            </div>
                            
                            <div id="blog-snip-2" class="footer-content__from-the-blog__post">
                                <a href="http://blog.livestrong.org/2015/07/22/why-i-ride-ragbrai-for-david/">
                                <p class="">
                                <img src="http://blog.livestrong.org/wp-content/uploads/2015/07/Froedtert-pic-Thumb-208x145.jpg" style="width: 56px; height: 40px;"/>
                                Why I Ride: RAGBRAI for David<br/><span class="date-text">
                                            July 22, 2015</span></p>
                                </a>
                            </div>
                            
                            <div id="blog-snip-3" class="footer-content__from-the-blog__post">
                                <a href="http://blog.livestrong.org/2015/07/20/my-journey-with-brain-cancer/">
                                <p class="">
                                <img src="http://blog.livestrong.org/wp-content/uploads/2015/07/John24x_500-thumb-208x145.jpg" style="width: 56px; height: 40px;"/>
                                My Journey with Brain Cancer by John Mahoney<br/><span class="date-text">
                                            July 20, 2015</span></p>
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-1 footer-content__about-us">
                            <a href="http://www.livestrong.org/who-we-are/"><h4>About Us</h4></a>
                            <p><a href="http://www.livestrong.org/who-we-are/our-strength/">Our Mission</a></p>
                            <p><a href="http://www.livestrong.org/who-we-are/">Our Team</a></p>
                            <p><a href="http://www.livestrong.org/what-we-do/our-approach/livestrong-research-library/">Our Research</a></p>
                            <p><a href="http://www.livestrong.org/what-we-do/our-actions/programs-partnerships/">Our Programs</a></p>
                            <p><a href="http://www.livestrong.org/shop/">Shop</a></p>
                            <p><a href="http://www.livestrong.org/events/">Events</a></p>
                            <p><a href="http://www.livestrong.org/who-we-are/employment-volunteering/">Employment</a></p>
                        </div>
                        <div class="col-lg-2 footer-content__contact">
                            <a href="http://www.livestrong.org/who-we-are/press-contact/"><h4>Contact</h4></a>
                            <address><p>2201 E. Sixth Street Austin, Texas 78702<br/>
                               </p>
                            </address>
                            <p><a href="tel:8772368820">877.236.8820</a></p>
                            <p class="multiline-text">For cancer support call<br/>
                               LIVE<strong>STRONG</strong> at <a href="tel:8552207777">855.220.7777</a>
                            </p>
                            <p><a href="#site-feedback">site feedback <i class="fa fa-bullhorn"></i></a></p>
                        </div>
                </div>
            </div>
        </div>

        <div class="footer-privacy">
            <div class="wrapper">
            <div class="footer-privacy__row_1">
                    <div class="col-md-5 footer-privacy__policies">
                        <p>&copy; 2015 LIVE<strong>STRONG</strong>, a registered trademark of the LIVE<strong>STRONG</strong> Foundation.<br/>
                           The LIVE<strong>STRONG</strong> Foundation is a 501(c)(3) under federal tax guidelines.</p>
                        <p class="policy-links"><a href="http://www.livestrong.org/Terms-of-Use/Privacy-Policy/"><u>Privacy Policy</u></a> | <a href="http://www.livestrong.org/Terms-of-Use/"><u>Legal</u></a> | <a href="http://www.livestrong.org/who-we-are/our-strength/financial-information/"><u>Financial Information</u></a></p>
                    </div>
                    <div class="col-md-6 footer-privacy__sponsors">
                        <a href="https://www.charitywatch.org/home" target="_blank">
                            <div class="footer-img" id="charity-watch-footer-logo"></div>
                        </a> <!-- 81/62 -->

                        <a href="http://www.nationalhealthcouncil.org/pages/member-profile.php?id=100" target="_blank">
                            <div class="footer-img" id="nhc-footer-logo"></div>
                        </a> <!-- 65/67 -->

                        <a href="http://www.cancergoldstandard.org/" target="_blank">
                            <div class="footer-img" id="ceo-footer-logo"></div>
                        </a> <!-- 72/71 -->

                        <a href="http://www.bbb.org/charity-reviews/national/cancer/livestrong-foundation-in-austin-tx-3996" target="_blank">
                            <div class="footer-img" id="bbb-footer-logo"></div>
                        </a> <!-- 38/65 -->

                        <a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=6570" target="_blank">
                            <div class="footer-img" id="navigator-footer-logo"></div>
                        </a> <!-- 68/61 -->
                    </div>
                    
                    <a href="#" class="col-md-1 footer-return">
                        <div class="footer-return__background"><strong><i class="fa fa-angle-up"></i></strong></div>
                        <p>Return<br/>to top</p>
                    </a>
            </div>
            </div>
        </div>

    </footer>
    <!-- /FOOTER -->