<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LIVESTRONG.ORG</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/styles.min.css">
</head>
<body class="what-we-do">
<main id="main" role="main">
	<nav id="navigation" role="navigation" class="snap-drawers">
		<div class="wrapper" id="nav-container">
			<div class="wrapper__content">
				<figure id="logo" role="banner">
					<div class="separator">
						<div class="ls-logo-container"><a href="/">LIVE<strong>STRONG</strong></a></div>
					</div>
				</figure>
				<section id="nav-utitlities">
					<ul class="nav__tier--1">
						<li class="js-dropdown-trigger" id="global-search-container">
							<form role="search" id="global-search" class="form-inline" action="/search/">
								<div class="separator">
									<div class="form-group">
										<div class="active-menu-obscure"><input type="search" class="form-control" placeholder="What are you looking for?" id="q" name="q" class="form-control livestrong-input" required></div>
										<div class="input-group-btn"><input type="submit" value="&#xf002;" id="global-search-submit" class="btn"></div>
									</div>
								</div>
							</form>
						</li>
						<!--<li class="js-dropdown-trigger" id="user-options">
						    <button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							<a href="javascript:;" title="Welcome, {{ user.first_name }}!" class="generic-avatar" aria-haspopup="true" aria-expanded="false"> {% if user.has_custom_avatar %}{% cloudinary_thumbnail_img user.avatar width="60" height="60" crop="fill" %}{% else %}&#xf007;{% endif %}</a>
					        <section class="nav__tier--2">
					        	<div class="row nav__tier--2-container">
			                        <ul class="user-menu col-sm-12">
			                            <li id="manage"><a href="{% url 'accounts:choose-account' %}">Manage Your Profiles</a></li>
			                            <li id="message-center"><a href="{% url 'contact-index' %}">Message Center</a></li>
			                            <li><a href="{% url 'profiles:profile-stream' %}">Dashboard</a></li>
			                            <li><a href="{% url 'profiles:profile-edit' %}">Edit Profile</a></li>
			                            <li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
			                            <li><a href="/accounts/logout/?next={{ current_resource.get_absolute_url }}" class='js-logout'>Log Out</a></li>
			                        </ul>
			                    </div>
		                    </section>
						</li>-->
						<li class="js-dropdown-trigger" id="global-login">
						    <button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							<a href="javascript:;" id="login" aria-haspopup="true" aria-expanded="false">Log In</a>
							<form id="global-login-form" action="/accounts/login/" method="POST">
								<div class="form-group">
									<label for="email" class="control-label">Email Address</label>
									<input type="email" placeholder="Email Address" id="email" name="email" class="form-control livestrong-input">
									<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
								</div>
								<div class="form-group">
									<label for="password" class="control-label">Password</label>
									<input type="password" placeholder="Password" name="password" id="password" class="form-control livestrong-input">
									<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
								</div>
								<div class="form-group">
									<input type="submit" role="button" id="global-login-btn" class="btn livestrong-btn js-login" value="Log In">
								</div>
								<div class="form-group">
									<ul>
										<li><a href="/accounts/register/" class="lnk livestrong-disclsoure">Don&rsquo;t have an account?</a></li>
										<li><a href="/accounts/password/reset/" class="lnk livestrong-disclsoure">Forgot Your Password?</a></li>
									</ul>
								</div>
								<div class="spinner-overlay"><span class="spinner">&nbsp;</span></div>
							</form>
						</li>
					    <li id="global-donate">
						    <a href="/donatenow/" title="Give Now" class="btn livestrong-action">Give Now</a>
					    </li>
					</ul>
				</section>
				<section id="nav-links">
					<ul class="nav__tier--1">
					    <li class="js-dropdown-trigger" id="nav-gethelp">
						    <button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
						    <a href="/we-can-help/" title="We Can Help" aria-haspopup="true" aria-expanded="false">We Can Help</a>
					        <div class="nav__tier--2">
					        	<div class="row nav__tier--2-container">
				        			<figure class="col-md-4 hidden-sm hidden-xs global-nav-feature">
				        				<div class="separator">
					        				<img src="img/nav-feature-wecanhelp.png" alt="" width="68">
					        				<figcaption class="global-nav-feature__caption">
					        					<h6>Free Cancer Support</h6>
					        					<p>Ready to take control of your diagnosis? Contact a LIVE<strong>STRONG</strong> Navigator to access free, 1-on-1 cancer support services. Call&nbsp;<strong><a href="tel:18552207777" title="">1-855-220-7777</a></strong>.</p>
					        					<div class="center"><a href="http://intakes.livestrong.org/cancersupport/" class="btn livestrong-border" title="Get Started Online">Get Started Online</a></div>
					        				</figcaption>
			        					</div>
				        			</figure>
							        <ul class="col-sm-12 col-md-8">
							            <li class="col-sm-12 col-md-4 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Learn About Cancer" ><span class="ls">LIVE<strong>STRONG</strong></span> Navigation</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/we-can-help/just-diagnosed/" title="Just Diagnosed">Just Diagnosed</a></li>
							                    <li><a href="/we-can-help/preparing-yourself/" title="Preparing Yourself">Preparing Yourself</a></li>
							                    <li><a href="/we-can-help/planning-medical-care/" title="Planning Medical Care">Planning Medical Care</a></li>
							                    <li><a href="/we-can-help/insurance-and-financial-assistance/" title="Insurance and Financial Assistance">Insurance and Financial Assistance</a></li>
							                    <li><a href="/we-can-help/emotional-and-physical-effects-of-treatment/" title="The Side Effects of Treatment">The Side Effects of Treatment</a></li>
							                    <li><a href="/we-can-help/managing-your-life-during-treatment/" title="Managing Your Life During Treatment">Managing Your Life During Treatment</a></li>
							                    <li><a href="/we-can-help/finishing-treatment/" title="Finishing Treatment" >Finishing Treatment</a></li>
							                    <li><a href="/we-can-help/healthy-living-after-treatment/" title="Healthy Living After Treatment">Healthy Living After Treatment</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-4 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Learn About Cancer" >Resource Guides</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/we-can-help/cancer-patients-and-survivors/" title="Cancer Patients and Survivors">Cancer Patients and Survivors</a></li>
							                    <li><a href="/we-can-help/caregiver-support/" title="Caregiver Support">Caregiver Support</a></li>
							                    <li><a href="/we-can-help/health-care-professionals/" title="Health Care Professionals">Health Care Professionals</a></li>
							                    <li><a href="javascript:void(0);" title="Adolescent &amp; Young Adults">Adolescent &amp; Young Adults</a></li>
							                    <li><a href="javascript:void(0);" title="Spanish-Speaking Patients">Spanish-Speaking Patients</a></li>
							                    <li><a href="javascript:void(0);" title="Parents with Cancer">Parents with Cancer</a></li>
							                    <li><a href="javascript:void(0);" title="Survivorship" >Survivorship</a></li>
							                    <li><a href="javascript:void(0);" title="Pediatric">Pediatric</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-4 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="LIVESTRONG Tools &amp; Products" ><span class="ls">LIVE<strong>STRONG</strong></span> Tools &amp; Products</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/we-can-help/cancerguideapp/" title="LIVESTRONG Cancer Guide App" >Cancer Guide App</a></li>
							                    <li><a href="/we-can-help/guidebook/" title="LIVESTRONG Guidebook">Guidebook</a></li>
							                    <li><a href="/rally/" title="LIVESTRONG Rally">Rally</a></li>
							                    <li><a href="http://www.livestrongcareplan.org/" title="LIVESTRONG Care Plan" >Care Plan</a></li>
							                    <li><a href="/we-can-help/fertility-services/" title="Fertility Services">Fertility Services</a></li>
							                    <li><a href="/blog/" title="LIVESTRONG Blog">Blog</a></li>
							                    <li><a href="javascript:void(0);" title="Cancer Hacks">Cancer Hacks</a></li>
							                </ul>
							            </li>
							        </ul>
					        	</div>
					        </div>
					    </li>
					    <li class="js-dropdown-trigger" id="nav-takeaction">
						    <button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
						    <a href="/take-action" title="Take Action" aria-haspopup="true" aria-expanded="false">Take Action</a>
					    	<div class="nav__tier--2">
					    		<div class="row nav__tier--2-container">
				        			<figure class="col-md-4 hidden-sm hidden-xs global-nav-feature">
				        				<div class="separator">
					        				<img src="img/nav-feature-takeaction.png" alt="" width="68">
					        				<figcaption class="global-nav-feature__caption">
					        					<h6>Shop <span class="ls">LIVE<strong>STRONG</strong></span></h6>
					        					<p>Get LIVE<strong>STRONG</strong> merchandise, apparel and wristbands, and show your support for the cause.</p>
					        					<div class="center"><a href="/shop/" class="btn livestrong-border" title="Shop Now">Shop Now</a></div>
					        				</figcaption>
			        					</div>
				        			</figure>
							        <ul class="col-sm-12 col-md-8">
							            <li class="col-sm-12 col-md-3 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Donate" >Donate</a>
							                <ul class="nav__tier--3">
							                    <li><a href="https://www.livestrong.org/donation/" title="Give Now" >Give Now</a></li>
							                    <li><a href="/donate/donate-now/mail-phone-stock-or-wire-transfer" title="Donate Offline" >Donate by Mail</a></li>
							                    <li><a href="/donate/donate-now/gifts-in-honor-or-memory" title="Memorials &amp; Tributes" >Memorials &amp; Tributes</a></li>
							                    <li><a href="/donate/giving-options/corporate-giving-sponsorship" title="Corporate Partnership" >Corporate Partnership</a></li>
							                    <li><a href="/donate/giving-options/" title="Matching Gifts" >Matching Gifts</a></li>
							                    <li><a href="http://laf.livestrong.org/site/Survey?ACTION_REQUIRED=URI_ACTION_USER_REQUESTS&SURVEY_ID=2340" title="Tax Receipt Request" >Tax Receipt Request</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-3 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Participate" >Participate</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/events/community/" title="Fundraise" >Fundraise</a></li>
							                    <li><a href="/events/" title="Find an Event" >Find an Event</a></li>
							                    <li><a href="/who-we-are/employment-volunteering/office-volunteers/" title="Volunteer" >Volunteer</a></li>
							                    <li><a href="/who-we-are/employment-volunteering/internships/" title="Create a Fundraiser" >Internships</a></li>
							                    <li><a href="/what-we-do/our-approach/platforms-priorities/" title="Advocacy" >Advocacy</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-3 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Lead" >Lead</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/who-we-are/our-strength/our-leaders" title="LIVESTRONG Leaders" >LIVE<strong>STRONG</strong> Leaders</a></li>
							                    <li><a href="/who-we-are/our-strength/livestrong-societies/presidents-society/" title="President's Circle" >President's Circle</a></li>
							                    <li><a href="/who-we-are/our-strength/livestrong-societies/7-society/" title="7 Society" >7 Society</a></li>
							                    <li><a href="http://livestrong.planmygift.org/" title="Planned Giving" >Planned Giving</a></li>
							                    <li><a href="/who-we-are/our-strength/our-donors/named-endowments/" title="Named Endowments" >Named Endowments</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-2">
							                <ul class="row connect-links">
							                    <li class="col-sm-6 col-md-6"><a href="http://laf.livestrong.org/site/Survey?ACTION_REQUIRED=URI_ACTION_USER_REQUESTS&SURVEY_ID=2341" title="Email Digest">&#xf003;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://www.facebook.com/livestrong" title="Facebook" >&#xf09a;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://twitter.com/livestrong" title="Twitter">&#xf099;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://instagram.com/livestrongfoundation/" title="Instagram">&#xf16d;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://www.pinterest.com/livestrong/" title="Pinterest">&#xf231;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://www.youtube.com/user/livestrongarmy" title="YouTube">&#xf167;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://www.linkedin.com/company/the-livestrong-foundation" title="LinkedIn">&#xf0e1;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="/blog/" title="LIVESTRONG Blog">&#xf044;</a></li>
							                </ul>
							            </li>
							        </ul>
					    		</div>
					    	</div>
					    </li>
					    <li class="js-dropdown-trigger" id="nav-whatwedo">
						    <button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
						    <a href="/what-we-do" title="What We Do" aria-haspopup="true" aria-expanded="false">What We Do</a>
					    	<div class="nav__tier--2">
					    		<div class="row nav__tier--2-container">
				        			<figure class="col-md-4 hidden-sm hidden-xs global-nav-feature">
				        				<div class="separator">
					        				<img src="img/nav-feature-takeaction.png" alt="" width="68">
					        				<figcaption class="global-nav-feature__caption">
					        					<h6>The Patient Voice</h6>
					        					<p>Our research and findings are a large and vital component of the work we do. Discover how LIVE<strong>STRONG</strong> has been patient-centered from day 1.</p>
					        					<div class="center"><a href="/what-we-do/our-approach/livestrong-research-library/" class="btn livestrong-border" title="LIVESTRONG Library"><span class="ls">LIVE<strong>STRONG</strong></span> Library</a></div>
					        				</figcaption>
			        					</div>
				        			</figure>
							        <ul class="col-sm-12 col-md-8">
							            <li class="col-sm-12 col-md-4 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Direct Services" >Direct Services</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/we-can-help/" title="LIVESTRONG Navigation" >LIVE<strong>STRONG</strong> Navigation</a></li>
							                    <li><a href="/we-can-help/fertility-services/" title="LIVESTRONG Fertility Services">LIVE<strong>STRONG</strong> Fertility Services</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-4 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Community Programs" >Community Programs</a>
							                <ul class="nav__tier--3">
							                	<li><a href="/what-we-do/our-actions/livestrong-programs/ymca/" title="LIVESTRONG at the YMCA">LIVE<strong>STRONG</strong> at the YMCA</a></li>
							                	<li><a href="/what-we-do/our-actions/programs-partnerships/livestrong-at-school/" title="LIVESTRONG at School">LIVE<strong>STRONG</strong> at School</a></li>
							                	<li><a href="/what-we-do/our-actions/programs-partnerships/community-engagement/" title="Community Impact Project">Community Impact Project</a></li>
							                	<li><a href="/what-we-do/our-actions/programs-partnerships/cancer-transitions/" title="Cancer Transitions">Cancer Transitions</a></li>
							                	<li><a href="/what-we-do/our-actions/professional-tools-training/community-toolkit/" title="LIVESTRONG Community Toolkit">LIVE<strong>STRONG</strong> Community Toolkit</a></li>
							                	<li><a href="/what-we-do/our-actions/professional-tools-training/livestrong-promotores-program/" title="LIVESTRONG Promotores">LIVE<strong>STRONG</strong> Promotores</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-4 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Working Toward Change" >Working Toward Change</a>
							                <ul class="nav__tier--3">
							                	<li><a href="/cancerinstitutes/" title="LIVESTRONG Cancer Institutes">LIVE<strong>STRONG</strong> Cancer Institutes</a></li>
							                	<li><a href="/what-we-do/our-actions/programs-partnerships/livestrong-survivorship-centers-of-excellence/" title="Survivorship Centers of Excellence">Survivorship Centers of Excellence</a></li>
							                	<li><a href="javascript:void(0);" title="LIVESTRONG Cancer Policy Platform">LIVE<strong>STRONG</strong> Cancer Policy Platform</a></li>
							                	<li><a href="javascript:void(0);" title="The Big C Social Innovation Challenge">The Big C Social Innovation Challenge</a></li>
							                	<li><a href="javascript:void(0);" title="Critical Mass">Critical Mass</a></li>
							                	<li><a href="javascript:void(0);" title="Global Cancer Care">Global Cancer Care</a></li>
							                </ul>
							            </li>
							        </ul>
					    		</div>
					    	</div>
					    </li>
					    <li class="js-dropdown-trigger" id="nav-whoweare">
						    <button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
						    <a href="/who-we-are" title="Who We Are" aria-haspopup="true" aria-expanded="false">Who We Are</a>
					    	<div class="nav__tier--2">
					    		<div class="row nav__tier--2-container">
				        			<figure class="col-md-4 hidden-sm hidden-xs global-nav-feature">
				        				<div class="separator">
					        				<img src="img/nav-feature-takeaction.png" alt="" width="68">
					        				<figcaption class="global-nav-feature__caption">
					        					<h6>The <span class="ls">LIVE<strong>STRONG</strong></span> Manifesto</h6>
					        					<p>Our research and findings are a large and vital component of the work we do. Discover how LIVE<strong>STRONG</strong has been patient-centered from day 1.</p>
					        					<div class="center"><a href="/what-we-do/our-approach/livestrong-research-library/" class="btn livestrong-border" title="LIVESTRONG Manifesto"><span class="ls">LIVE<strong>STRONG</strong></span> Manifesto</a></div>
					        				</figcaption>
			        					</div>
				        			</figure>
							        <ul class="col-sm-12 col-md-8">
							            <li class="col-sm-12 col-md-3 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Our Strength" >About Us</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/who-we-are/our-strength/livestrong-manifesto/" title="Mission" >Mission</a></li>
							                    <li><a href="/who-we-are/employment-volunteering/" title="People &amp; Teams" >People &amp; Teams</a></li>
							                    <li><a href="/who-we-are/our-history/milestones/" title="Impact" >Impact</a></li>
							                    <li><a href="/who-we-are/our-strength/our-donors/corporate-partners/" title="Partners" >Partners</a></li>
							                    <li><a href="/donate/donate-now/donor-privacy-policy/" title="Policies" >Policies</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-3 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Our History" aria-haspopup="true" aria-expanded="false">Media Center</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/who-we-are/press-contact/press/" title="Milestones" >Press Releases</a></li>
							                    <li><a href="javascript:void(0);" title="Our Home" >Press Kit</a></li>
							                    <li><a href="javascript:void(0);" title="Our Founder" >Social Media Kit</a></li>
							                    <li><a href="/who-we-are/our-strength/financial-information/" title="Financial Reports" >Financial Reports</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-3 js-dropdown-trigger">
						    				<button class="js-toggle-subnav btn livestrong-nochrome hidden-md hidden-lg" role="button" aria-expanded="false" aria-pressed="false" data-collapsed="f055" data-expanded="f056">&#xf055;</button>
							            	<a href="javascript:void(0);" title="Join Our Team" >Join Our Team</a>
							                <ul class="nav__tier--3">
							                    <li><a href="/who-we-are/employment-volunteering/job-openings" title="Employment" >Employment</a></li>
							                    <li><a href="/who-we-are/employment-volunteering/internships" title="Internships" >Internships</a></li>
							                    <li><a href="/who-we-are/employment-volunteering/office-volunteers" title="Volunteers" >Volunteers</a></li>
							                </ul>
							            </li>
							            <li class="col-sm-12 col-md-2">
							                <ul class="row connect-links">
							                    <li class="col-sm-6 col-md-6"><a href="http://laf.livestrong.org/site/Survey?ACTION_REQUIRED=URI_ACTION_USER_REQUESTS&SURVEY_ID=2341" title="Email Digest">&#xf003;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://www.facebook.com/livestrong" title="Facebook" >&#xf09a;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://twitter.com/livestrong" title="Twitter">&#xf099;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://instagram.com/livestrongfoundation/" title="Instagram">&#xf16d;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://www.pinterest.com/livestrong/" title="Pinterest">&#xf231;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://www.youtube.com/user/livestrongarmy" title="YouTube">&#xf167;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="https://www.linkedin.com/company/the-livestrong-foundation" title="LinkedIn">&#xf0e1;</a></li>
							                    <li class="col-sm-6 col-md-6"><a href="/blog/" title="LIVESTRONG Blog">&#xf044;</a></li>
							                </ul>
							            </li>
							        </ul>
					    		</div>
					    	</div>
					    </li>
					    <li><a href="/shop/" title="Shop" >Shop</a></li>
					</ul>
				</section>
			</div>
		</div>
	</nav>
	<article id="main-article" data-snap-ignore="true" role="article">
		<figure id="logo-mobile" class="hidden-md hidden-lg" role="banner">
			<div class="wrapper">
				<div class="wrapper__content">
					<div class="divider">
						<div class="ls-expose-nav-container"><a href="javascript:;" class="js-mobile-nav-trigger" id="expose-nav">&#xf0c9;</a></div>
						<div class="ls-logo-container"><a href="/"><img src="img/logo-bar.png" alt="LIVESTRONG"></a></div>
					</div>
				</div>
			</div>
		</figure>
		<header id="hero" role="marquee">
			<section class="hero-banner">
				<div class="container">
					<div class="row">
						<figure class="hero__quote">
							<div class="col-md-3">
								<div class="hero__quote--img"><img src="img/ruth_rechis.jpg" alt="Ruth Rechis, PhD, Vice President of Mission Programs"></div>
							</div>
							<figcaption class="col-md-9 hero__quote--content">
								<h1><q>At LIVE<strong>STRONG</strong> everything we do is intended to help improve the lives of people affected by cancer. We do research to understand what people need, and then we create programs to help them.</q></h1>
								<p class="attribution">Ruth Rechis, PhD, Vice President of Mission Programs</p>
							</figcaption>
						</figure>
					</div>
				</div>
			</section>
			<section class="mission-statement">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mission-statement__content">
								<h2>Since 1997, we&rsquo;ve listened to cancer patients, survivors, caregivers, health care providers and researchers on how we, as an organization and a society, can better serve the cancer community.</h2>
								<a href="/what-we-do/our-approach/livestrong-research-library/" class="btn livestrong-border" title="See our research">See our research</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</header>
		<div id="content">
			<section class="container content__section" id="our-priorities">
				<div class="row">
					<div class="col-md-8 centered-column">
						<header class="content__section--header">
							<h3>Our priorities</h3>
							<p>Helping cancer survivors and their loved ones has been our goal from day one. We believe in putting the patient first, and that is why we created tools and resources to help ease the challenges of a cancer diagnosis.</p>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="row content__section--list">
							<li class="col-md-4">
								<figure class="focus-point__figure">
									<div class="img__container"><img src="img/survivor_with_guidebook.jpg" alt="cancer patient review the LIVESTRONG Guidebook"></div>
									<figcaption class="focus-point__caption">
										<h4>Survivors</h4>
										<p>We offer free support to cancer survivors through our cancer navigation services, Guidebook and Cancer Guide and Tracker app.</p>
									</figcaption>
								</figure>
							</li>
							<li class="col-md-4">
								<figure class="focus-point__figure">
									<div class="img__container"><img src="img/caregiver.jpg" alt="cancer caregiver sharing information with a patient"></div>
									<figcaption class="focus-point__caption">
										<h4>Caregivers</h4>
										<p>Our free cancer navigation services and resources are not only available to cancer survivors, but to their loved ones as well.</p>
									</figcaption>
								</figure>
							</li>
							<li class="col-md-4 ">
								<figure class="focus-point__figure">
									<div class="img__container"><img src="img/healthcare_provider.jpg" alt="health care professional"></div>
									<figcaption class="focus-point__caption">
										<h4>Healthcare Professionals</h4>
										<p>We arm the health care community with the tools and resources to better assist cancer survivors and their families. </p>
									</figcaption>
								</figure>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<div class="flow-breaker one">&nbsp;</div>
			<section class="container content__section" id="our-reach">
				<div class="row">
					<div class="col-md-8 centered-column">
						<header class="content__section--header">
							<h3>Our reach</h3>
							<p>Our innovative partnerships have helped us expand our reach to cancer survivors nationally and beyond. We constantly push to find new and innovative solutions to the day-to-day concerns and challenges they face.</p>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<figure class="video__player in-place">
							<a class="video__player--poster" href=""><img src="http://placehold.it/800x360" alt=""></a>
							<figcaption class="video__player--cta"><a href="/what-we-do/our-actions/livestrong-programs/ymca/" class="btn livestrong-nochrome" title="Learn more about LIVESTRONG at the YMCA">Learn more about LIVE<strong>STRONG</strong> at the YMCA</a></figcaption>
						</figure>
						<ul class="row content__section--list">
							<li class="col-md-4">
								<figure class="focus-point__figure">
									<div class="img__container--hover">
										<img src="http://placehold.it/200x200" alt="">
										<div class="hover-expose">
											<h5>400</h5>
											<p>Supporting Statistic</p>
										</div>
									</div>
									<figcaption class="focus-point__caption">
										<h4>LIVE<strong>SRONG</strong> at School</h4>
										<p>Our curriculum offers online lessons for grades K-12 to help educators teach their students about cancer in a way that is age-appropriate, inspiring and empowering.</p>
										<a href="" class="btn livestrong-nochrome" title="Learn More">Learn More</a>
									</figcaption>
								</figure>
							</li>
							<li class="col-md-4 col-md-offset-4">
								<figure class="focus-point__figure">
									<div class="img__container--hover">
										<img src="http://placehold.it/200x200" alt="">
										<div class="hover-expose">
											<h5>400</h5>
											<p>Supporting Statistic</p>
										</div>
									</div>
									<figcaption class="focus-point__caption">
										<h4>Community Impact Project</h4>
										<p>We&rsquo;ve invested more than $4 million to replicate twelve cancer programs in more than 600 communities, serving tens of thousands of survivors in the process.</p>
										<a href="" class="btn livestrong-nochrome" title="Learn More">Learn More</a>
									</figcaption>
								</figure>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<div class="flow-breaker two">&nbsp;</div>
			<section class="container content__section" id="our-impact">
				<div class="row">
					<div class="col-md-8 centered-column">
						<header class="content__section--header">
							<h3>Our impact</h3>
							<p>We are transforming the way the world fights cancer by partnering with best-in-class cancer institutions, politicians and volunteers, and by launching the LIVE<strong>STRONG</strong> Cancer Institutes, a new, bold endeavor with the Dell Medical School at The University of Texas at Austin.</p>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<figure class="video__player in-place">
							<a class="video__player--poster" href=""><img src="http://placehold.it/800x360" alt=""></a>
							<figcaption class="video__player--cta"><a href="" class="btn livestrong-nochrome" title="Learn More about the LIVESTRONG Cancer Institutes">Learn More about the LIVE<strong>STRONG</strong> Cancer Institutes</a></figcaption>
						</figure>
						<ul class="row content__section--list">
							<li class="col-md-4">
								<figure class="focus-point__figure">
									<div class="img__container"><img src="http://placehold.it/200x200" alt=""></div>
									<figcaption class="focus-point__caption">
										<h4>Centers of Excellence</h4>
										<p>We led a collaborative effort with various cancer centers at leading medical institutions to provide direct survivorship services to cancer patients; this led to the creation of the LIVE<strong>STRONG</strong> Cancer Institutes.</p>
										<a href="" title="Learn More" class="btn livestrong-nochrome">Learn More</a>
									</figcaption>
								</figure>
							</li>
							<li class="col-md-4">
								<figure class="focus-point__figure">
									<div class="img__container"><img src="http://placehold.it/200x200" alt=""></div>
									<figcaption class="focus-point__caption">
										<h4>Advocacy</h4>
										<p>Our advocacy team and volunteers work with decision makers in Washington on the need to increase cancer-related appropriations.</p>
										<a href="" title="Learn More" class="btn livestrong-nochrome">Learn More</a>
									</figcaption>
								</figure>
							</li>
							<li class="col-md-4">
								<figure class="focus-point__figure">
									<div class="img__container"><img src="http://placehold.it/200x200" alt=""></div>
									<figcaption class="focus-point__caption">
										<h4>Global</h4>
										<p>We launched our cancer anti-stigma campaigns in Mexico and South Africa to encourage dialogue about cancer and to break fear and silence about the disease.</p>
										<a href="" title="Learn More" class="btn livestrong-nochrome">Learn More</a>
									</figcaption>
								</figure>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<footer id="footer">
			<header class="closing-statement">
				<div class="container">
					<div class="row">
						<div class="col-md-12 centered-column hero__quote">
							<div class="hero__quote--content">
								<h1><q>Bacon ipsum dolor amet brisket swine biltong, short loin salami beef ball tip venison pastrami turducken.</q></h1>
								<p class="attribution">Bacon Ipsum</p>
							</div>
						</div>
					</div>
				</div>
			</header>
			<section class="donation__module">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h4>Make an Impact</h4>
							<p>Donate to LIVE<strong>STRONG</strong> and know that your gift will make a difference in the lives of people affected by cancer. Eighty-three cents of every dollar goes directly to our free services for cancer survivors and their loved ones.</p>
							<ul class="donate-buttons">
								<li><a href="/donatenow/" title="Donate Now" class="btn livestrong-btn">Donate</a></li>
								<li><a href="/donatenowpaypal/" title="Donate using your PayPal account" class="btn paypal-btn"><span>Pay</span>Pal</a></li>
							</ul>
						</div>
						<figure class="col-md-6"><div class="right"><img src="http://placehold.it/400x264" alt="kids holding LIVESTRONG tiles"></div></figure>
					</div>
				</div>
			</section>
			<section class="copyright">
				<div class="container">
					<div class="row">
						#footer
					</div>
				</div>
			</section>
		</footer>
	</article>
</main>
<script src="js/vendor.min.js"></script>
<!-- <script type="text/javascript" src="js/templates.min.js"></script> -->
<script type="text/javascript" src="js/app.min.js"></script>
<script type="text/javascript">
	(function() {
		LIVESTRONG = LIVESTRONG || {}
		LIVESTRONG.initialize();
	})();
</script>
</body>
</html>