$container-md ?= 1026px
$container-lg ?= 1026px
@import '../bower_components/bootstrap-stylus/bootstrap/index'
@import 'colors'
@import 'fonts'
@import 'bootstrap_overrides'
@import 'animations'

body, html
	margin 0
	padding 0
	font-size 16px
	min-width 1024px
abbr
	border none
sup
	font-size 0.6em
	vertical-align 0.35em
a
	color inherit
strong
	font-weight 600

/* General Styles
=========================================================== */
.wrapper
	position relative
	max-width 1024px
	margin auto
	width 100%
	padding 0 15px
	.wrapper__content
		width 100%
		margin-left -15px
		margin-right -15px
.btn
	border-radius 3px
	transition all 300ms ease-in-out
	&:hover,&:focus
		transition all 300ms ease-in-out
.left
	margin-left 0
	margin-right auto
	text-align left
.center
	margin-left auto
	margin-right auto
	text-align center
.right
	margin-left auto
	margin-right 0
	text-align right
.livestrong-btn
	background $yellow
	color $black
	&:hover, &:focus
		background $black
		color $white
.livestrong-action
	background $black
	color $white
	&:hover,&:focus
		background $white
		color $black
.livestrong-border
	border-width 1px
	border-style solid
	&:hover,&:focus
		color $white
		background $black
		border-color $black
.paypal-btn
	// background $paypal
	color $black
	border-color $black
	// color $pal
	// span
	// 	color $pay
	&:before
		FontAwesome()
		content '\f1ed'
		// color $pal
		margin-right 6px
	&:hover
		background $black
		color $white
.control-label
	display none
.no-placeholder
	.control-label
		display block
.livestrong-input
	box-shadow inset 0 0 20px rgba(0,0,0,.12)
	color $placeholder
	Sentinel-Light()
	font-size 1.125em
	box-sizing content-box
	padding 0 10px
	zoom 1
	&::-webkit-input-placeholder
		color $placeholder
	&:-moz-placeholder
		color $placeholder
	&::-moz-placeholder
		color $placeholder
	&:-ms-input-placeholder
		color $placeholder
.livestrong-nochrome
	border-radius 0
	border none
	outline none
	background transparent
.lnk
	color $black
	border none
	outline none
	text-decoration none
	&.livestrong-disclsoure
		HelveticaBold()
		&:after
			FontAwesome()
			content '\f105'
			margin-left 6px
			color $black_gray
.ls
	font-weight 400
	padding 0
	strong
		font-weight 600
.form-control[type=text],.form-control[type=search],.form-control[type=email],.form-control[type=password]
	border-radius 3px
.form-group
	margin-bottom 0
	&.has-success, &.has-error
		margin-bottom 21px
.form-control-feedback
	top 2px
[class*=col-xs-]:first-child,
[class*=col-sm-]:first-child,
[class*=col-md-]:first-child,
[class*=col-lg-]:first-child 
	padding-left 0
.centered-column
	margin-left auto
	margin-right auto
	text-align center
	float none !important
.alternate-disclosure--large
	text-decoration none
	&:hover,&:focus
		text-decoration none

/* Global Styles
=========================================================== */
#content
	.flow-breaker
		background-position center center
		background-attachment fixed
		background-repeat no-repeat
		background-size cover
		width 100%
	.content__section
		padding 6.55em 0 6.05em
		.content__section--header
			text-align center
			margin 0 auto 5em
			h3
				Sentinel-SSm-Light()
				font-size 3em
				line-height 1.3
				margin 0 auto 0.3em
			p
				HelveticaLight()
				font-size 1.125em
				line-height 1.3
		.content__section--list
			li
				list-style none

/* Site Feedback
=========================================================== */
#siteFeedbackTab
	position fixed
	right 62px
	bottom 0px
	overflow: hidden
	text-indent -2000px
	z-index 9999
#siteFeedbackTab
	a 
		display block
		width 172px
		height 41px
		background-image url('~new/images/user_voice_bg.png')
		background-repeat no-repeat
		background-position left top
#siteFeedbackTab
	a
		&:hover
			background-position left bottom

/* Module Specific Styles
=========================================================== */
@import 'quotes'
@import 'mission-statement'
@import 'focus-point'
@import 'video-player'
@import 'donate-module'
@import 'header'
@import 'what-we-do'
