.what-we-do
	#main-article
		#hero 
			.mission-statement
				background url('../img/background_research_top.jpg') no-repeat center center
				background-size cover
		#content
			.flow-breaker.one
				height 500px
				background-image url('../img/background_handwriting.jpg')
			.flow-breaker.two
				height 525px
				background-image url('../img/genny_and_daughter.jpg')
		#footer
			.closing-statement
				background url('../img/background_research_bottom.jpg') no-repeat center center
				background-size cover
