////////////////////////
// -- 1 NAVIGATION -- //
////////////////////////

#main-nav {
    
// -webkit-box-shadow: -5px 7px 52px 20px rgba(138,112,33,0.2);
// -moz-box-shadow: -5px 7px 52px 20px rgba(138,112,33,0.2);
// box-shadow: -5px 7px 52px 20px rgba(138,112,33,0.2);

    // margin-top 27px
    background-color #fecc09
    border none
    a {
        color #000
        text-transform uppercase
    }
    a:hover {
        background-color #ffe580
    }
    .navbar-header{
        a.navbar-brand {
            letter-spacing 7
        }
    }
    .navbar-nav {
        .no-highlight:hover {
                background-color #fecc09
                cursor default
        }

        .highlight {
            background-color #ffe580
        }
        a {
            font-size 12px
            font-weight: 700;
        }
    }
}