/////////////////////////
// -- 2 WHY WE HELP -- //
/////////////////////////

.section-1__why-we-help {
    width 100%
    height 623px
    background url('/static/design/images/ls-new.out.png') no-repeat
    background-position 80% 20%
    background-size cover
    color: #fff
    
    .header {
        top 168px
        position relative
    
        min-width 591px
        min-height 190px
        
        font 30px 'Sentinel A', 'Sentinel B', 'Sentinel-Book' serif

        .header__title {
            margin 0
            font-size 36px
            line-height 43px
        }
        .header__subtitle {
            font-size 26px
            margin-top 12px
            // margin-bottom 30px
        }
        .header__button {
            margin-top 18px
            display inline-block

            border-radius 4px
            
            border 1px solid #fff
            text-decoration none
            
            padding 9px 20px

            font-size 20px
            color #fff
            
            &:hover {
                cursor pointer
                color #000
                background-color #fff
                transition all 300ms ease-out 0s
            }
        }
    }
}