.section-3__how-we-help {
    // background-color #cef
    background-color #EEF3F7
    padding-bottom 10px
    
    .challenge {
        // padding 70px 0x
        padding 0px
        padding-top 70px
        // padding-bottom 50px
        text-align center

        h3 {
            margin 0
            padding 0
            
            color #000
            font 24px 'Sentinel A', 'Sentinel B', 'Sentinel-Book' serif
            line-height 29px
        }
        
        p {
            text-align right
            margin-top 8px
            position relative
            padding-right 220px
            
            color #616365
            font-size 18px
        }
    }
    
    .solution {
        #how-we-help__carousel {
            padding 40px 60px 20px 60px
            
            .carousel-inner {
                padding-bottom 70px
            }
            
            .carousel-control {
                top 20%
                background none
                width 20px
                i.fa {
                    font-size 50px
                    color #ccc
                    text-shadow none
                }
            }
            
            .carousel-indicators li {
                width 13px
                height 13px
                border 3px solid #ccc
                margin 0px 5px
                color #ccc
            }
            
            .carousel-indicators .active {
                background-color #ccc
            }
            
            .carousel-item__left {
                width 45%
                float left
                p {
                    font-size 18px
                    margin 0
                    padding 0
                    line-height 24px
                    color #000
                }

                .carousel__button {
                    // width 339px
                    // height 40px
                    display inline-block
                    margin-top 30px
                    border-radius 4px
                    
                    padding 9px 20px
                    border 1px solid #979797
                    
                    text-decoration none
                    font-size 20px
                    color #1A1919
                    font 20px 'Sentinel A', 'Sentinel B', 'Sentinel-Book', serif
                    .fa-angle-right {
                        color #B1B3B5
                    }
                    a {
                    }
                    &:hover {
                        cursor pointer
                        background-color #fff
                        border 1px solid #fff
                        transition all 300ms ease-out 0s
                        a {
                            text-decoration none
                            color #000
                        }
                    }
                }
            }
            
            .carousel-item__right {
                width 45%
                float right
                border none
                .poster_image {
                    margin 0px auto
                    height 239px
                    width 387
                    background no-repeat
                    border none
                    border-radius 4px
                    &:hover {
                        cursor pointer
                    }
                }
            }

        }
    }
}