/////////////////////////
// -- 2 WHY WE HELP -- //
/////////////////////////
.section-5__get-involved {
    position relative
    padding 80px 0px
    background-color #fffdf4
    
    background url('/static/design/images/wristband_bg.png') no-repeat
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    -webkit-box-shadow: inset 0px -170px 100px -120px rgba(255,253,244,1);
    -moz-box-shadow: inset 0px -170px 100px -120px rgba(255,253,244,1);
    -o-box-shadow: inset 0px -170px 100px -120px #fffdf4;
    box-shadow: inset 0px -170px 100px -120px rgba(255,253,244,1);
    
    h1,h2,h3,h4 {
        font-family 'Sentinel A', 'Sentinel B', 'Sentinel-Book' serif
    }  
    
    h1 {
        text-align center
        margin-bottom 100px
    }  

    .impact-item {
        margin-bottom 150px
        
        .impact-item__left {
            padding-right 170px
            h3 {
                font-size 24px
                margin-bottom 20px
            }
            p {
                font-size 18px 
            }
            .paypal-button {
                border 1px solid #979797
                vertical-align bottom
            }
            .donate-button {
                border 1px solid #FDCB30
                background-color #FDCB30
            }

            .impact-item__event-list {
                width 423px
                ul {
                    padding 0
                    margin 0
                    list-style-type: none;
                }
                li {
                    font-size 18px
                    border-bottom 1px solid #ccc
                    margin-bottom 10px
                }
                .impact-item__event-list-event {
                    
                    .event-list__event-col {
                        width 206px
                        display inline-block
                        a {
                            text-decoration none
                            color #333
                        }
                        i.fa-angle-right {
                            color #616365
                        }
                    }
                    
                    .event-list__date-col {
                        width 137px
                        display inline-block
                    }
                    
                    .event-list__register-col {
                        width 70px
                        display inline-block
                        a {
                            text-decoration none
                            color #616365
                        }
                    }
                }
            }
        }
        .impact-item__right {
            text-align right
        }

        .impact-button {
            margin-top 18px
            margin-right 20px
            display inline-block
            border-radius 4px
            
            border 1px solid #b1b3b5
            text-decoration none
            padding 9px 20px
            font-size 20px
            color #1a1919
            font 20px 'Sentinel A', 'Sentinel B', 'Sentinel-Book' serif
            
            &:hover {
                cursor pointer
                background-color #000
                border 1px solid #000
                transition all 300ms ease-out 0s
                text-decoration none
                color #fff
            }
        }
        img {
            width 402px
            height 264px
            border-radius 4px
        } 
    }
}

