#main-nav {
  background-color: #fecc09;
  border: none;
}
#main-nav a {
  color: #000;
  text-transform: uppercase;
}
#main-nav a:hover {
  background-color: #ffe580;
}
#main-nav .navbar-header a.navbar-brand {
  letter-spacing: 7;
}
#main-nav .navbar-nav .no-highlight:hover {
  background-color: #fecc09;
  cursor: default;
}
#main-nav .navbar-nav .highlight {
  background-color: #ffe580;
}
#main-nav .navbar-nav a {
  font-size: 12px;
  font-weight: 700;
}
