/* ============================================================== */
/*                     Footer Specific Styles                     */
/* ============================================================== */
#new-footer {
  height: 496px;
  background-color: #fffdf4;
}
#new-footer a,
#new-footer a:hover {
  color: inherit;
  text-decoration: none !important;
}
#new-footer .footer-content {
  height: 370px;
  padding: 0;
  padding-top: 48px;
  background: #1c1c1c;
}
#new-footer .footer-content .footer-content__row_1 {
  height: 38px;
  margin-bottom: 40px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__subscribe {
  width: 321px;
  float: left;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__subscribe .col-lg-4 {
  padding: 0;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__subscribe .col-lg-4 .input-group {
  width: 350px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__subscribe .footer-content__input {
  font-size: 12px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__subscribe .footer-content__button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 11px;
  line-height: 22px;
  background: #fecb00;
  border: none;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social {
  float: right;
  width: 260px;
  margin: 0;
  padding: 0;
  margin-right: 120px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  background: #e1e3e5;
  font-size: 12px;
  height: 38px;
  width: 38px;
  display: inline-block;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li i {
  color: #7d7c7c;
  font-size: 23px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li a {
  display: block;
  height: 38px;
  width: 38px;
  color: #7d7c7c;
  font-size: 23px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li a:hover .fa-facebook {
  transition: all 100ms ease-out 0s;
  color: #3b5998;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li a:hover .fa-twitter {
  transition: all 100ms ease-out 0s;
  color: #00aced;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li a:hover .fa-instagram {
  transition: all 100ms ease-out 0s;
  color: #517fa4;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li a:hover .fa-youtube {
  transition: all 100ms ease-out 0s;
  color: #b00;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li a:hover .fa-pinterest-p {
  transition: all 100ms ease-out 0s;
  color: #cb2027;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li .fa-facebook {
  margin-top: 8px;
  margin-left: 14px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li .fa-twitter {
  margin-top: 8px;
  margin-left: 10px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li .fa-instagram {
  margin-top: 8px;
  margin-left: 10px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li .fa-youtube {
  margin-top: 8px;
  margin-left: 10px;
}
#new-footer .footer-content .footer-content__row_1 .footer-content__social li .fa-pinterest-p {
  margin-top: 8px;
  margin-left: 11px;
  margin-right: 0;
}
#new-footer .footer-content .footer-content__row-2 {
  padding: 0;
  min-height: 200px;
}
#new-footer .footer-content .footer-content__row-2 h4 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  color: #aeacac;
  text-transform: none;
}
#new-footer .footer-content .footer-content__row-2 p,
#new-footer .footer-content .footer-content__row-2 a {
  font-size: 12px;
  margin-bottom: 0;
  color: #7d7c7c;
}
#new-footer .footer-content .footer-content__row-2 .highlighted {
  color: #aeacac;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__press-release {
  width: 325px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  padding-right: 35px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__press-release p {
  margin-top: 20px;
  line-height: 20px;
  margin-bottom: 0;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__from-the-blog {
  width: 244px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-right: 50px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__from-the-blog .footer-content__from-the-blog__post {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__from-the-blog .footer-content__from-the-blog__post p {
  height: 40px;
  line-height: 14px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__from-the-blog .footer-content__from-the-blog__post img {
  height: 40px;
  width: 56px;
  float: left;
  margin-right: 10px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__from-the-blog .footer-content__from-the-blog__post .date-text {
  font-size: 10px;
  color: #616365;
  position: absolute;
  bottom: 0px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__about-us {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-right: 30px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__about-us h4 {
  margin-bottom: 20px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__about-us p {
  margin-bottom: 15px;
  line-height: 12px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__contact {
  width: 230px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  padding-right: 10px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__contact p,
#new-footer .footer-content .footer-content__row-2 .footer-content__contact address {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 12px;
}
#new-footer .footer-content .footer-content__row-2 .footer-content__contact .multiline-text {
  line-height: 16px;
}
#new-footer .footer-privacy {
  height: 150px;
  padding: 15px 0;
  position: relative;
  background: #000;
}
#new-footer .footer-privacy .footer-privacy__row_1 {
  overflow: hidden;
}
#new-footer .footer-privacy p {
  margin-top: 22px;
  font-size: 11px;
  color: #b1b3b5;
}
#new-footer .footer-privacy .policy-links {
  margin-top: 12px;
}
#new-footer .footer-privacy .footer-privacy__policies {
  padding: 0;
  display: inline-block;
}
#new-footer .footer-privacy .footer-privacy__sponsors {
  padding: 0;
  width: 472px;
  margin-top: 22px;
  display: inline-block;
}
#new-footer .footer-privacy .footer-privacy__sponsors .footer-img {
  height: auto;
  width: auto;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.5;
}
#new-footer .footer-privacy .footer-privacy__sponsors #charity-watch-footer-logo {
  width: 81px;
  height: 62px;
  background: url("/static/design/images/charity-watch-logo.png") no-repeat;
  background-size: contain;
}
#new-footer .footer-privacy .footer-privacy__sponsors #nhc-footer-logo {
  width: 65px;
  height: 67px;
  background: url("/static/design/images/nhc.neg.trans.png") no-repeat;
  background-size: contain;
}
#new-footer .footer-privacy .footer-privacy__sponsors #ceo-footer-logo {
  width: 72px;
  height: 71px;
  background: url("/static/design/images/ceo-bright.png") no-repeat;
  background-size: contain;
}
#new-footer .footer-privacy .footer-privacy__sponsors #bbb-footer-logo {
  width: 38px;
  height: 65px;
  background: url("/static/design/images/bbb.neg.png") no-repeat;
  background-size: contain;
}
#new-footer .footer-privacy .footer-privacy__sponsors #navigator-footer-logo {
  width: 68px;
  height: 61px;
  background: url("/static/design/images/navigator.bright.transp.png") no-repeat;
  background-size: contain;
}
#new-footer .footer-privacy .footer-return {
  right: 0;
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 114px;
  text-align: center;
}
#new-footer .footer-privacy .footer-return .footer-return__background {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background: #fecb00;
  margin-top: 25px;
}
#new-footer .footer-privacy .footer-return:hover {
  cursor: pointer;
}
#new-footer .footer-privacy .footer-return:hover .footer-return__background {
  transition: all 300ms ease-out 0s;
  background-color: #fff;
}
#new-footer .footer-privacy .footer-return p {
  display: block;
  margin: 0;
  margin-top: 8px;
  line-height: 12px;
  font-size: 10px;
}
#new-footer .footer-privacy .footer-return i {
  color: #000;
  font-size: 30px;
}
