<html>
    {% include "partials/head.html" %}
<body>
        <!-- header/nav -->
{#
        {% include "partials/1.html" %}
#}

        <!-- why we help -->
        {% include "partials/2.html" %}
        <!-- manifesto -->
        {% include "partials/3.html" %}
        <!-- how we help: challenge/solution -->
        {% include "partials/4.html" %} 
        <!-- out impact -->
        {% include "partials/5.html" %} 
        <!-- donate -->
        {% include "partials/6.html" %}         
        <!-- footer -->
        {% include "partials/7.html" %}


<script type="text/javascript">
    localStorage.setItem("scrollTop", document.body.scrollTop);
    // window.onload = function() {  
    //  var scroll = parseInt(localStorage.getItem("scrollTop"));
    //  //parseInt(localStorage.scrollTop);   
    //  if (!isNaN(scroll))
    //  document.body.scrollTop = scroll;
    // }
</script>
</body>
</html>