<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design/practice.css') }}">
</head>
<body>

	<div class="debug-title"><tt class="debug-title">badge-right: short text</tt></div><div class="highlight">

		<div class="badge-right">
			<div class="badge-side">
				<img class="badge-icon" src="https://placekitten.com/g/140/140"/>
			</div>
			<div class="badge-main">
				<header class="badge-header">
					Join a LIVESTRONG Event
				</header>
				<p class="badge-snippet">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<a href="#" class="badge-link">
					See more &gt;
				</a>
			</div>
		</div>

	</div> 

	<div class="debug-title"><tt class="debug-title">badge-right: short text</tt></div><div class="highlight">

		<div class="badge-right">
			<div class="badge-side">
				<img class="badge-icon" src="https://placekitten.com/g/140/140"/>
			</div>
			<div class="badge-main">
				<header class="badge-header">
					Join a LIVESTRONG Event
				</header>
				<p class="badge-snippet">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nisi dui. Morbi scelerisque tortor imperdiet lectus lacinia venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ornare, felis sit amet ultricies ultricies, enim massa accumsan dui, ac scelerisque mi quam bibendum augue. Nulla sollicitudin pretium scelerisque. Maecenas a tellus quis enim suscipit rutrum. Praesent semper erat sit amet pellentesque venenatis. Suspendisse potenti. Mauris tempus elementum tellus in faucibus. Quisque metus mauris, mattis ac ante vel, feugiat laoreet ipsum. Nullam ut vehicula ante.
				</p>
				<a href="#" class="badge-link">
					See more &gt;
				</a>
			</div>
		</div>

	</div>


	<div class="debug-title"><tt class="debug-title">badge-right: short text</tt></div><div class="highlight">

		<div class="badge-left">
			<div class="badge-side">
				<img class="badge-icon" src="https://placekitten.com/g/140/140"/>
			</div>
			<div class="badge-main full-width">
				<header class="badge-header">
					Join a LIVESTRONG Event
				</header>
				<p class="badge-snippet">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<a href="#" class="badge-link">
					See more &gt;
				</a>
			</div>
		</div>

	</div>


	<div class="debug-title"><tt class="debug-title">badge-right: short text</tt></div><div class="highlight">

		<div class="badge-left">
			<div class="badge-side">
				<img class="badge-icon" src="https://placekitten.com/g/140/140"/>
			</div>
			<div class="badge-main">
				<header class="badge-header">
					Join a LIVESTRONG Event
				</header>
				<p class="badge-snippet">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nisi dui. Morbi scelerisque tortor imperdiet lectus lacinia venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ornare, felis sit amet ultricies ultricies, enim massa accumsan dui, ac scelerisque mi quam bibendum augue. Nulla sollicitudin pretium scelerisque. Maecenas a tellus quis enim suscipit rutrum. Praesent semper erat sit amet pellentesque venenatis. Suspendisse potenti. Mauris tempus elementum tellus in faucibus. Quisque metus mauris, mattis ac ante vel, feugiat laoreet ipsum. Nullam ut vehicula ante.
				</p>
				<a href="#" class="badge-link">
					See more &gt;
				</a>
			</div>
		</div>

	</div>

	<div class="debug-title"><tt class="debug-title">columns: 3</tt></div><div class="highlight">


				<div id="rrow">
					<div class="col-4"></div>
					<div class="col-4"></div>
					<div class="col-4"></div>
				</div>

		<div class="badge-left">
			<!-- <div class="badge-side">
				<img class="badge-icon" src="https://placekitten.com/g/140/140"/>
			</div> -->
			<!-- <div class="badge-main"> -->
				<header class="badge-header">
					Join a LIVESTRONG Event
				</header>

				<a href="#" class="badge-link">
					See more &gt;
				</a>
			<!-- </div> -->
		</div>

	</div>

</body>
</html>